<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
Access-Control-Allow-Origin: *

<dom-module id="login-app" >
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">


    <style>
      :host {
        display: block;
        background-color: #0001;
      }
    </style>
    <div class="container" hidden$="{{logado}}">
      <context></context>
      <div class="card">
        <h1 class="card-header bg-primary text-white text-center">Ingrese a la APP</h1>
        <div class="card-body">
          <div class="form-group form-control-lg row">
            <div class="col-sm-12">
              <paper-input id="usuario" label="Usuario" type="email" value="{{email::input}}" class="form-control" required></paper-input>
            </div>
          </div>
          <div class="form-group form-control-lg row">
            <div class="col-sm-12">
              <paper-input label="Password" type="password" value="{{password::input}}" class="form-control"required></paper-input>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10 text-center">
              <button on-click="login" type="button" name="button" class="btn btn-lg btn-primary text-lg-center text-center">Log In</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <iron-ajax
      id="doLogin"
      url="http://localhost:3002/Login"
      content-type="application/json"
      crossDomain:true
      dataType: 'jsonp'
      method="POST"

      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse";
      on-error="showError">
    </iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String,
            notify:true
          },
          password: {
            type: String,
            notify:true,
          },
          nombre:{
            type:String,
            notify:true
          },
          logado:{
            type: Boolean,
            notify: true
          },
          admin:{
            type:Boolean,
            notify:true
          }
        };

      }
      static get observers(){return['modificarLog(logado)']}
      modificarLog(e){
        //console.log(e)
      }
      login(){
        var loginData = {
          "email":this.email,
          "password":this.password
        }
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        //console.log("Peticion enviada");
      }

      manageAJAXResponse(e,data){
        //console.log("Respuesta recibida de servidor");
        ////console.log(data.response);
        this.logado = true;
        //console.log(this.logado);
        this.password = '';
        if(this.email=="admin"){
          this.admin=true;
        }
      }

      showError(error){
        //console.log("Ocurrio un error");
        alert("Datos ingresados incorrectos, por favor valide");
        //console.log(error);
      }

    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>

  </dom-module>
